Results per Path/bins_info.csv
Results per Path/errorcoeffs.csv
Results per Path/modelfit.csv
Results per Path/pathcoeffs.csv
Results per Path/pathcoeffs_names.csv
Results per Path/pvalcoeffs.csv
Results per Path/Rplots.pdf
Results per Path/rsquares.csv
Results Total/results_totalpaths/bins_info.csv
Results Total/results_totalpaths/modelfit.csv
Results Total/results_totalpaths/pathcoeffs.csv
Results Total/results_totalpaths/pathcoeffs_names.csv
Results Total/results_totalpaths/pvalcoeffs.csv
Results Total/results_totalpaths/rsquares.csv
